@layer base {
  @font-face {
    font-family: "Josefin Sans";
    src: url(../fonts/JosefinSans-VariableFont_wght.ttf) format("ttf"),
      url(../fonts/JosefinSans-Italic-VariableFont_wght.ttf) format("ttf");
    font-weight: 600;
    font-style: normal;
  }

  :root {
    --primary: #4e3d28;
    --secondary: #9baf7c;
    --tertiary: #b5853d;

    --sm-gap: 10px;
    --m-gap: 20px;
    --l-gap: 30px;

    --sm-br: 5px;

    --clip: polygon(
      10% 0,
      90% 0,
      100% 20%,
      100% 80%,
      90% 100%,
      10% 100%,
      0 80%,
      0 20%
    );
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: "Josefin Sans", system-ui, sans-serif;
    background-color: var(--primary);
    color: var(--primary-contrast);
    margin: 0;
  }

  input,
  textarea,
  button,
  select {
    font: inherit;
    font-size: 100%;
  }
}
