@layer component {
  #content {
    padding-inline: calc(2 * var(--l-gap));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(3 * var(--l-gap));
  }

  #content > * {
    position: relative;
  }

  #content > *::before {
    content: "";
    background-color: var(--tertiary);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    clip-path: var(--clip);
    z-index: -1;
  }

  #content > *::after {
    content: "";
    background-color: var(--secondary);
    position: absolute;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    clip-path: var(--clip);
    z-index: -2;
  }

  #content > *:last-child {
    margin-bottom: calc(2 * var(--l-gap));
  }
}
