@layer component {
  .review {
    position: relative;
    max-width: 60ch;
    padding: var(--l-gap);
  }

  .review img {
    position: absolute;
    top: -25%;
    right: 50%;
    transform: translateX(50%);
  }
}
